* { margin: 0;padding: 0;font-family: sans-serif;}
html,body {width: 100%;height: 100%;}
.admin-container {display: flex;flex-wrap: nowrap;width: 100%;min-height: 100%; height: auto; }
.sidebar {width: 15%; min-width: 120px; min-height: 100%; height: auto; background-color: rgba(192,95,95,0.8);color: white;}
.sidebar ul {list-style: none;display: flex;flex-direction: column;padding-top: 50%;}
.sidebar ul li {width: 100%;}
.sidebar ul li a {text-decoration: none;display: block;width: 100%;padding: 5% 0% 5% 0%;border-bottom: 1px solid white;text-align: center;font-size: calc(12px + 0.5vw);transition: 0.5s;color: white;}
.sidebar ul li:first-of-type {border-top: 1px solid white;}
.sidebar ul li a:hover {background-color: rgba(192,95,95,1);cursor: pointer;}
.main {width: 85%;height: 100%;}


.zeit-container { width: 100%;height: auto; display: flex; flex-wrap: wrap;  }
.arbeitstage-container {width: 350px; height: auto; padding: 10px; margin-left: 2%;margin-top: 2%;border: 2px solid rgba(192,95,95,0.8);}
.arbeitstage-container h2 { width: 100%; height: auto; }
.arbeitstag { margin-bottom: 2%; padding: 5px; }
.arbeitstag h3 { padding: 5px; font-size: 1.5rem; }
.arbeitstag input { margin-left: 2%; margin-right: 2%; width: 100px; font-size: 1.2rem; }
.arbeitstag .switch { float: right; }

.feiertage-container { width: 50%; min-width: 350px; height: 650px; margin-left: auto; margin-right: auto; margin-top: 2%; }
.feiertage-filter { width: 100%; padding: 1.5% 0% 1.5% 0%; background-color: rgba(192,95,95,1); min-width: 400px; }
.feiertage-filter input { font-size: 1.2rem; background-color: white; min-width: 80px; padding: 2px; width: 25%; margin-left: 2%; outline: none; border: none; }
.feiertage-filter select { font-size: 1.2rem; background-color: white; width: 120px; margin-left: 2%; padding: 2px; }
.feiertage-filter i { color: white; float: right; cursor: pointer; margin-top: -5px; margin-right: 2%; }


.feiertage-data { display: flex; flex-direction: column; height: 90%; overflow: auto; padding-bottom: 10px; min-width: 400px; }
.feiertag { height: auto; padding: 10px 20px 10px 20px; margin-top: 15px; margin-left: auto; margin-right: auto; border: 1px solid black; border-radius: 10px; width: 90%; min-height: 30px; display: flex; flex-direction: row; }
.feiertag p { color: black; margin-right: auto; margin-left: auto; width: 100px; padding: 2px; font-size: 1.1rem; }
.feiertag button { padding: 2px; width: 80px; background-color: transparent; color: #e63946; transition: 0.5s; border: 1px solid #e63946; cursor: pointer; }
.feiertag button:hover { color: white; border: 1px solid white; background-color: #e63946; }


.rechte-container { border: 1px solid black;margin-left: auto; margin-right: auto; margin-top: 30px; padding: 15px; width: 50%; min-width: 750px;}
.rechte-data { display: flex; flex-direction: row; font-size: 1.2rem; margin-top: 20px; }
.rechte-data p { padding: 5px; width: 120px; margin-left: 10px; margin-right: 10px; }
.rechte-buttons { margin-left: auto; }
.rechte-buttons button { margin-right: 10px; border: 1px solid black; padding: 5px; cursor: pointer; background-color: white; width: 120px; transition: 0.5s; }
.rechte-buttons button:hover { background-color: black; color: white; }
.rechte-buttons button:last-of-type { border: 1px solid red; color: red; cursor: pointer;  background-color: white; transition: 0.5s; width: 80px; }
.rechte-buttons button:last-of-type:hover { background-color: red; color: white;  }
.rechte-container #button-useradd { padding: 5px; width: 100px; margin-left: 10px; cursor: pointer; margin-top: 15px; }

#viewBearbeiten {
border: 1px solid darkgray;width: 50%;margin-left: auto;margin-right: auto;min-width: 350px;min-height: 250px;padding-bottom: 30px;margin-top: 2%;
z-index: 9;font-family: sans-serif;display: flex; flex-direction: column;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
   -o-animation: fadein 0.5s; /* Opera < 12.1 */
      animation: fadein 0.5s;
}
#viewBearbeiten i { text-align: right; margin-left: auto; width: 30px; padding-right: 10px; cursor: pointer; transition: 0.5s; }
#viewBearbeiten i:hover { color: red; }
#viewBearbeiten input { width: 280px; padding: 2px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px; font-size: 1.3rem; outline: none; }
#viewBearbeiten button { width: 200px; margin-left: auto; margin-right: auto; margin-top: 30px; font-size: 1.2rem; padding: 5px; cursor: pointer; }



/*VIEW OVERVIEW */
/* Übersicht Overview Reservierungen */

.ow-nav {display: flex;flex-wrap: nowrap;padding: 2% 0% 2% 0%;width: 40%;min-width: 420px;margin-left: auto;margin-right: auto;list-style: none;}
.ow-nav li {width: 40%;min-width: 130px;font-size: 1.2rem;padding: 2%;margin-left: auto;margin-right: auto;transition: 0.5s;text-align: center;}
.ow-nav li:hover {color: rgba(192,95,95,1);cursor: pointer;}
#oInputDate {padding: 5px;font-size: 1rem;margin-top: 5%;width: 10%;min-width: 150px;display: block;  margin-left: auto;margin-right: auto;}
.ow-nav-current { color: rgba(192,95,95,1); }
#ow-table-container {width: 80%;height: 50%;margin-left: auto;margin-right: auto;overflow: auto;}
#ow-table {table-layout: fixed;width: 100%;margin-left: auto;margin-right: auto;}
#ow-table tr {width: 120px;text-align: center;transition: 0.5s;}
#ow-table tr:hover {background-color: rgba(192,95,95,0.8);color: white;}
#ow-table td {font-size: 1rem;padding: 5px;}
#ow-table td:first-of-type {display: flex;flex-wrap: nowrap;}
#ow-table td i {margin-left: 5px;margin-right: 5px;transition: 0.5s;}
#ow-table td i:hover {cursor: pointer;color: rgba(192,95,95,1);}


/* ANALYSE DATEN */

.analyse-container {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.analyse-zeit {
  width: 50%;
  min-width: 550px;
  margin-left: auto; margin-right: auto;
  height: auto;
  display: flex; flex-direction: row;
  list-style: none;
}
.analyse-zeit li:first-of-type {border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.analyse-zeit li:last-of-type { border-right: 1px solid darkgray;  width: 210px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.analyse-zeit li { text-align: center; width: 90px; padding: 7.5px; font-size: 1.3rem;
  border-top: 1px solid darkgray; border-left: 1px solid darkgray; border-bottom: 1px solid darkgray; transition: 0.5s; }
.analyse-zeit li:hover { cursor: pointer; background-color: #a4133c; color: white; }
.analyse-zeit input { height: 20px; font-size: 1.3rem; outline: none; border: 0; padding: 5px; }
.analyse-zeit-current { color: white; background-color: #a4133c; }

.analyse-data {width: 100%; min-width: 550px; height: auto;display: flex; flex-wrap: wrap; margin-top: 30px;}
.analyse-box { width: 45%; border-bottom-right-radius: 10px; min-width: 550px; height: 400px; background-color: #f4acb7; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;}
.analyse-box h2 { width: 100%; padding: 5px 0px 0px 5px; color: white; }

#ChartWochentage { max-height: 350px; }
#table-events { height: 200px; color: white; }
#table-events h3 { text-align: center; font-size: 1.8rem; }
.events-data { display: flex; flex-wrap: nowrap; font-size: 1.5rem; }
#table-events label { margin-left: auto; margin-right: auto; margin-top: 30px; width: 150px; display: flex; flex-direction: row; }
#table-events label p { margin-left: auto; }

/* NoShow Liste */

.liste-nav { text-align:center; width:100%; }

.liste-nav button {width: 160px; padding: 5px; background-color: white; border: 1px solid black; font-size: 1.2rem; margin: 5% 5% 0% 5%; cursor: pointer; }

.liste-container { width: 80%;margin-left: auto;margin-right:auto;height: auto;margin-top: 5%; }
.liste-top { background-color: rgba(192,95,95,1);width: 100%;height: 50px;display: flex;flex-wrap: nowrap;color: white;border: 1px solid transparent; }
.liste-top h2 { font-size: 2rem;padding: 5px;font-weight: lighter; }
.liste-top i { padding: 5px;margin-left: auto;}
.liste-top i:hover { cursor: pointer; }

.liste-content {
  width: 100%;
  height: 30vw;
  max-height: 500px;
  min-height: 300px;
  overflow: auto;
  border-left: 1px solid rgba(192,95,95,1);
  border-bottom: 1px solid rgba(192,95,95,1);
  border-right: 1px solid rgba(192,95,95,1);
  list-style: none;
}

.liste-content li {display: flex;flex-direction: row;font-size: 1.2rem;transition: 0.5s;border-bottom: 1px solid rgba(192,95,95,1);cursor: pointer;width: 100%;}
.liste-content li:hover { background-color: rgba(192,95,95,0.5); color: white; }
.liste-content li p {display: block;width: 150px;padding: 5px;margin-left: auto; margin-right: auto;overflow: hidden;}



/* NoShow Edit */

.liste-edit-container {background-color: rgba(192,95,95,1);position: fixed;width: 68%;height: 200px;text-align: center;animation: fadein 0.5s;}
.edit-form {padding: 2%;}
.edit-form input[type=text] {font-size: 1.2rem;margin-left: 2%;margin-right: 2%;text-align: center;}
.edit-form input[type=number] {width: 5%;font-size: 1.2rem;margin-left: 2%;margin-right: 2%;text-align: center;}
.edit-container-bottom {margin-top: 3%;}
.edit-button {margin: 0% 5% 0% 5%;padding: 0.5% 2% 0.5% 2%;font-size: 1.2rem;background-color: transparent;border: 1px solid white;color: white;transition: 0.5s;}
.edit-button:hover {cursor: pointer;color: darkgray;border: 1px solid darkgray;}
#delete-noShow:hover {background-color: #e71d36;color: white;}
#liste-submit:hover {background-color: #8ac926;color: white;}


/* Reservierungen */

.rs-container { width: 100%; height: auto; }
.rs-input-table {width: 80%; max-width: 500px;margin-left: auto;margin-right: auto;text-align: center;margin-top: 2%;}
.rs-input-table h3 {font-size: 1.8rem;}
.rs-input-table input {width: 180px;height: 20px;padding: 5px;text-align: center;margin-top: 2%;margin-left:2%;margin-right: 2%;font-size: 1.2rem;outline: none;}

/* RESERVIERUNG LISTE */

.rs-reservierung-list { width: 80%; margin-left: auto; margin-right: auto; margin-top: 2%; height: 500px; display: flex; flex-wrap: nowrap; }
.rs-reservierung-list ul {list-style: none;height: 100%;width: 80%; max-width: 500px;background-color: rgba(192,95,95,1);min-width: 150px;margin-left: auto; margin-right: auto;overflow: auto; z-index: 3;}
.rs-reservierung-list ul button {width: 100%;padding: 5%;margin: 0%;outline none;font-size: 1.1rem;transition: 0.5s;border: 0;}
.rs-reservierung-list ul button:hover { cursor: pointer; background-color: #ced4da; }
.rs-reservierung-list ul li {width: 92%;text-align: center;padding: 4%;transition: 0.5s;color: white;}

.state0 { background-color: #4ea8de; }
.state1 { background-color: #2b9348; }
.state2 { background-color: #ee6c4d; }
.state3 { background-color: #ba181b; }
.state4 { background-color: #006d77; }
.state5 { background-color: #7400b8; }

.rs-reservierung-list ul li:hover {cursor: pointer;color: darkgray;}
.reservierung-list-current { font-weight: 800; }


/* RESERVIERUNG HAUPT CONTAINER */


.rs-list-edit-container {background-color: rgba(192,95,95,0.6);width: 70%; height: auto;display: flex; flex-wrap: nowrap;z-index: 2;display: none;}
.list-edit-reservierung {width: 100%; height: auto;display: flex; flex-wrap: wrap; flex-direction: column;}
.list-edit-top {width: 40%;height: 100%;text-align: center;}
.list-edit-top button {
  font-size: 1rem;
  outline: none;
  padding: 10px;
  border: 0;
  margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: 5%;
  width: 80%;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
.list-edit-top button:hover { color: darkgray; }

#bt-eingetroffen {background-color: #2b9348;}
#bt-freigeben {background-color: #ee6c4d;}
#bt-abgesagt {background-color: #ba181b;}
#bt-noShow {background-color: #006d77;}
#bt-abwAnzahl {background-color: #7400b8;}

/* LIST EDIT BOTTOM */

.list-edit-bottom {width: 60%;margin-top: 5%;text-align: center;}

.list-edit-bottom input {
  width: 50%;
  min-width: 70px;
  padding: 5px;
  font-size: 1.2rem;
  margin-left: auto; margin-right: auto; margin-top: 2%; margin-bottom: 2%;
  text-align: center;
}

.list-edit-bottom select {
  width: 80%;
  min-width: 70px;
  padding: 5px;
  font-size: 1.2rem;
  margin-left: auto; margin-right: auto;
  text-align: center;
}

.list-edit-bottom input[type=time] {
  width: 130px;
}

.edit-bottom-table {
  width: 80%;
  margin-top: 2%;
  display: flex; flex-wrap: nowrap;
  margin-left: auto; margin-right: auto;
}
.edit-bottom-table h3 { padding: 7px; width: 80%; }



/* LIST EDIT HH */

.list-edit-hh { width: 96%; height: auto; /*background-color: rgba(192,95,95,1);*/ padding: 2%; margin-top: 5%; }
.list-edit-hh .fa-user-minus { float: right; margin: 2% 0% 0% 0%; color: white; cursor: pointer; transition: 0.5s; }
.fa-user-minus:hover { color: red; }
#hh-number { width: 50%; padding: 2px; font-size: 1.2rem; margin-left: 24%; margin-right: 25%; display: block; text-align: center; }
.edit-hh { width: 100%; height: auto; text-align: center; }
.edit-hh input { width: 70%; font-size: 1.2rem; padding: 2px; margin: 1% 0% 1% 0%; }

#submit-clients {
  background-color: transparent;
  display: block;
  border: 1px solid white;
  padding: 0.5% 2% 0.5% 2%;
  margin-left: auto; margin-right: auto; margin-top: 2%; margin-bottom: 2%;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}



/* Tische */

.tische-container { width: 100%; min-width: 300px; height: 800px; display: flex; flex-direction: row; overflow: auto; }
.tische-container table { width: 70%; padding: 2%; max-height: 300px; }
.tische-container table th { font-size: 1.2rem; }
.tische-row { margin-top: 0.5%; text-align: center; }
.tische-label input[type=text] { width: 100px; font-size: 1.2rem; text-align: center; }
.tische-label input[type=number] { width: 50px; text-align: center; font-size: 1.2rem;}
.td-number { text-align: center;}
.tische-label button { margin-left: 10%; font-size: 1.2rem; padding: 1% 5% 1% 5%; background-color: white; border: 1px solid black; cursor: pointer; }

#tische-panel { width: 50%; height: 250px; margin-top: 5%; margin-left: 2.5%; margin-right: 2.5%; border: 1px solid black; }
#tische-panel h2 { font-size: 2rem; padding: 5px; }
.t-panel { width: 100%; margin-top: 25px; display: flex; flex-direction: row; }
.t-panel label { margin-left: auto; margin-right: 5%; }
.t-panel h3 { width: 200px; font-size: 1.3rem; margin-left: 5%; }
.t-panel select { margin-left: 5%; font-size: 1.3rem; outline: none; }
#tische-panel button { display: block; margin-left: auto; width: 150px; font-size: 1.3rem; padding: 5px; margin-right: auto; cursor: pointer; }




/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.css-animation-right {
  animation: fadeInLeft 1s;
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-50px); }
    to   { opacity: 1; transform: translateX(0); }
}

/* Firefox < 16 */
@-moz-keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to   { opacity: 1; transform: translateX(0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to   { opacity: 1; transform: translateX(0); }
}

/* Internet Explorer */
@-ms-keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to   { opacity: 1; transform: translateX(0); }
}

/* Opera < 12.1 */
@-o-keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to   { opacity: 1; transform: translateX(0); }
}
