* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
}

.admin-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 15%;
  min-width: 120px;
  height: 100%;
  background-color: rgba(192,95,95,0.8);
  color: white;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100%;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 5% 0% 5% 0%;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: calc(12px + 0.5vw);
  transition: 0.5s;
  color: white;
}

.sidebar ul li:first-of-type {
  border-top: 1px solid white;
}

.sidebar ul li a:hover {
  background-color: rgba(192,95,95,1);
  cursor: pointer;
}

.main {
  width: 85%;
  height: 100%;
}







/*VIEW OVERVIEW */
/* Übersicht Overview Reservierungen */

.ow-nav {
  display: flex;
  flex-wrap: nowrap;

  padding: 2% 0% 2% 0%;
  width: 40%;
  min-width: 420px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.ow-nav li {
  width: 40%;
  font-size: 1.2rem;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

.ow-nav li:hover {
  color: rgba(192,95,95,1);
  cursor: pointer;
}

#oInputDate {
  padding: 5px;
  font-size: 1rem;
  margin-top: 10px;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ow-nav-current {
  color: rgba(192,95,95,1);
}

#ow-table-container {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#ow-table {
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#ow-table tr {
  width: 120px;
  text-align: center;
}

#ow-table td {
  font-size: 1rem;
  padding: 5px;
}


#ow-table td i {
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.5s;
}

#ow-table td i:hover {
  cursor: pointer;
  color: rgba(192,95,95,1);
}

#ow-table td:first-of-type {
  display: flex;
  flex-wrap: nowrap;
}


/* NoShow Liste */

.noShow-container {
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  height: auto;
  margin-top: 5%;
}

.noShow-top {
  background-color: rgba(192,95,95,1);
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  color: white;
  border: 1px solid transparent;
}

.noShow-top h2 {
  font-size: 2rem;
  padding: 5px;
  font-weight: lighter;
}

.noShow-top i {
  padding: 5px;
  margin-left: auto;
}

.noShow-content {
  width: 100%;
  height: 30vw;
  max-height: 500px;
  min-height: 300px;
  overflow: auto;
  border-left: 1px solid rgba(192,95,95,1);
  border-bottom: 1px solid rgba(192,95,95,1);
  border-right: 1px solid rgba(192,95,95,1);
  list-style: none;
}

.noShow-content li {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  transition: 0.5s;
  border-bottom: 1px solid rgba(192,95,95,1);
}

.noShow-content li:hover {
  cursor: pointer;
  background-color: rgba(192,95,95,0.5);
  color: white;
}

.noShow-content li p {
  width: 20%;
  text-align: center;
  margin: 0% 2.5% 0% 2.5%;
  padding: 0.5%;
}

.noShow-content li p:first-of-type {
  width: 5%;
}


/*NoShow Edit */


.noShow-edit-container {
  background-color: rgba(50,50,50,0.95);
  position: fixed;
  width: 68%;
  height: 200px;
  text-align: center;
}

.edit-form {
  padding: 2%;
}

.edit-form input[type=text] {
  font-size: 1.2rem;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

.edit-form input[type=text]:first-of-type {
  width: 5%;
}

.edit-container-bottom {
  margin-top: 3%;
}

.edit-button {
  margin: 0% 5% 0% 5%;
  padding: 0.5% 2% 0.5% 2%;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}

.edit-button:hover {
 cursor: pointer;
 color: darkgray;
 border: 1px solid darkgray;
}
