* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
}

.reserve-top .fa-user-circle {
  position: absolute;
  right:0.5%;
  top: 1%;
}

.container-reserve {
  width: 100%;
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #viewLogin {
    border: 1px solid darkgray;
    background-color: white;
    position: fixed;
    right: 50%;
    margin-right:-150px;
    width: 300px;
    min-height: 350px;
    padding-bottom: 30px;
    margin-top: 2%;

    z-index: 9;

    font-family: sans-serif;
    display: none;

    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
     -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #viewLogin {
    border: 1px solid darkgray;
    background-color: white;
    position: fixed;
    right: 50%;
    margin-right:-250px;
    width: 500px;
    min-height: 350px;
    padding-bottom: 30px;
    margin-top: 2%;

    z-index: 9;

    font-family: sans-serif;
    display: none;

    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
     -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
  }
}









.icon-user {
  float: right;
  transition: 0.5s;
  border-radius: 20px;
}

.icon-user:hover {
  color: darkgray;
  cursor: pointer;
}




/* USER POP UP */

.login-icon {
  width: 100%;
  text-align: center;
  padding: 2.5% 0%;
  color: darkgray;
}

#viewLogin h3 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

#viewLogin form {
  width: 80%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

#viewLogin form input {
  width: 90%;
  margin-left: auto;
  margin-right:auto;
  padding: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.4rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid darkgray;
  background-color: #f0efeb;
}

#viewLogin form input[type=submit]{
  width: 40%;
  margin-top: 10%;
  background-color: transparent;
  transition: 0.5s;
}

#viewLogin form input[type=submit]:hover{
  cursor: pointer;
  background-color: #f0efeb;
}

#viewLogin button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 150px;
  display: block;

  color: black;
  border: 1px solid darkgray;
  background-color: #e5e5e5;
  padding: 10px 0px 10px 0px;
  -webkit-transition: 0.5s;
  font-size: 1.0rem;
}

#viewLogin button:hover {
  cursor: pointer;
  border: 1px solid black;
}







/* viewAdminTable VIEWTABLE ACP  */

#viewAdminTable {
  border: 1px solid black;
  background-color: white;
  width: 90%;
  height: 75%;
  margin: 1% 5% 0% 5%;

  position: fixed;
  z-index: 8;
  padding-bottom: 20px;
  font-family: sans-serif;
  display: none;
  overflow: auto;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
   -o-animation: fadein 0.5s; /* Opera < 12.1 */
      animation: fadein 0.5s;
}

#viewAdminTable h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2%;
}

/* ACP TOP BUTTONS UND RESERVIERUNG */

.acp-top {
  width: 100%;
  height: 200px;
}

.acp-settings-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 2%;
  text-align: center;
}

.acp-settings-buttons button {
  padding: 5px;
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid darkgray;
  margin: 0px 5px 0px 5px;
  color: white;
  transition: 0.5s;
}

.acp-settings-buttons button:hover {
  cursor: pointer;
  color: darkgray;
}

#bt-eingetroffen {
  background-color: #2b9348;
}

#bt-freigeben {
  background-color: #ee6c4d;
}

#bt-abgesagt {
  background-color: #ba181b;
}

#bt-no-show {
  background-color: #006d77;
}



/* ACP viewAdminTable BOTTOM */



.acp-bottom {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
}

.acp-bottom-nav {
  width: 10%;
  min-width: 150px;
  height: 100%;
  list-style: none;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.acp-bottom-nav li {
  display: block;
  text-align: center;
  width: 90%;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 5%;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  transition: 0.5s;
}

.acp-bottom-nav li:last-of-type {
  border-top: 1px solid transparent;
}

.acp-bottom-nav li:first-of-type {
  border-bottom: 0px solid transparent;
}

.acp-bottom-nav li:hover {
  cursor: pointer;
  background-color: #c05f5f;
  color: white;
}

.acp-bottom-nav-current {
  background-color: #c05f5f;
  color: white;
}

/* ACP BOTTOM CONTENT */

.acp-bottom-content {
  width: 90%;
  height: 400px;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

#acp-bottom-reservierung {
  width: 100%;
  min-width: 400px;
  display: block;
  margin-right: auto;
  margin-left: 0%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

#acp-table {
  width: 20%;
  min-width: 120px;
  height: 170px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkgray;
}

#acp-table img {
  width: 120px;
  max-height: 100px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#acp-bottom-reservierung-inputs {
  width: 65%;
  max-width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#acp-bottom-reservierung-inputs label {
  width: 90%;
  display: block;
  font-weight: 600;
  padding: 5px;
  text-align: right;
  margin-right: auto;
}

#acp-bottom-reservierung-inputs select {
  width: 50%;
  min-width: 140px;
  font-size: 1.5rem;
  text-align-last:center;
  margin-left: 5%;
  padding: 5px 5px 5px 5px;
}

#acp-bottom-reservierung-inputs input {
  width: 50%;
  min-width: 130px;
  font-size: 1.5rem;
  margin-left: 5%;
  padding: 5px;
}

#acp-bottom-haushalt {
  display: none;
}

.acp-bottom-haushalt-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align:center;
}

.acp-bottom-haushalt-container select {
  min-width: 100px;
  width: 20%;
  padding: 5px;
  margin: 2% 0% 2% 0%;
  font-size: 1.2rem;
  text-align: center;
}

.acp-bottom-haushalt-container h3 {
  text-align:center;
  font-weight: 400;
  color: #c05f5f;
}

.acp-bottom-haushalt-container input {
  display: block;
  padding: 5px;
  font-size: 1.1rem;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2%;
  border: 1px solid darkgray;
  width: 40%;
  min-width: 130px;
}

.acp-submit-container {
  width: 100%;
  text-align: center;
  padding: 25px 0px 25px 0px;
}

.acp-submit-container input[type=submit] {
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 1% 2% 1% 2%;
  margin-left: 5%;
  -webkit-transition: 0.5s;
  font-size: 1.0rem;
}

.acp-submit-container input[type=submit]:hover {
  cursor: pointer;
  color: green;
  border: 1px solid green;
}

.acp-submit-container input[type=button] {
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  transition: 0.5s;
  margin-right: 5%;
  font-size: 1.0rem;
}

.acp-submit-container input[type=button]:hover {
  cursor: pointer;
  color: red;
  border: 1px solid red;
}













/* Reservierung Bestätigung POP UP */


#viewReserved {
  border: 1px solid black;
  background-color: white;
  position: fixed;
  margin-top: 1%;
  right:50%;
  margin-right:-175px;
  width:350px;
  z-index: 10;
  height: 350px;
  font-family: sans-serif;
  display: block;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
   -o-animation: fadein 0.5s; /* Opera < 12.1 */
      animation: fadein 0.5s;
}

#viewReserved h2 {
  text-align: center;
}

#viewReserved p {
  width: 90%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

#viewReservedButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  margin-top: 10%;
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid green;
}

#viewReservedButton:hover {
  cursor: pointer;
}

























#viewCoronaInfo {
  width: 40%;
  min-width: 200px;
  height: auto;
  background-color: white;
  font-family: sans-serif;
  position: absolute;
  top: 7.5%;
  right: 7.5%;
  padding: 10px;
  z-index: 9;
  border: 1px solid darkgray;
  display: none;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
   -o-animation: fadein 0.5s; /* Opera < 12.1 */
      animation: fadein 0.5s;
}







/* viewTable POPUP */

#viewTable {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 90%;

  margin-top: 1%;
  margin-bottom: 1%;
  z-index: 8;
  padding-bottom: 20px;
  font-family: sans-serif;
  display: none;
  overflow: auto;

  border: 1px solid black;
  background-color: white;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
   -o-animation: fadein 0.5s; /* Opera < 12.1 */
      animation: fadein 0.5s;
}

#viewTable::-webkit-scrollbar {
  display: none;
}

#viewTable h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2%;
}

.fa-times {
  float: right;
  padding: 0px 5px 0px 0px;
  transition: 0.5s;
}

.fa-times:hover {
  color: red;
  cursor: pointer;
}

.form-table {
  width: 100%;
  height: auto;
}

.form-table h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 2%;
}

/* ViewTable Reservierungen BOX */

#container-information {
  width: 80%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#container-information-content {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  width: 100%;
  height: 50px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}
#container-information h3 {
  display: block;
  width: 98%;
  padding: 1%;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f0efeb;
  margin: 0%;
  border: 1px solid darkgray;
}

.information-box {
  width: 20%;
  min-width: 190px;
  height: 30px;
  padding: 10px;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.information-box-acp {
  width: 20%;
  min-width: 190px;
  height: 30px;
  padding: 10px;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.information-box-acp:hover {
  cursor: pointer;
}



/* VIEWTABLE Tisch reservieren */

.form-table-left {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form-table-left ul {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.form-table-left p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  text-align: center;
}

.form-table-left-inputs {
  width: 465px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: flex;
  flex-wrap: nowrap;
}

.form-table-left-inputs select {
  font-size: 1.5rem;
  text-align-last:center;
  padding: 8px;
  border: 0px;
}

#amount {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  width: 55px;
}

#timeDuration {
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.form-table-left-inputs input {
  font-size: 1.5rem;
  padding: 5px;
  border: 0px;
}

#timeDate {
  width: 180px;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-left: 1px solid darkgray;
}

#timeFrom {
  border: 1px solid darkgray;
  min-width: 110px;
  width: 15%;
}

.left-inputs-icon i {
  position: absolute;
  margin-left: -16px;
  margin-top: 15px;
}


.form-table-left-inputs input[type=text] {
  min-width: 130px; width: 35%; max-width: 200px;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}





/* VIEWTABLE FORM-TABLE-RIGHT */

.form-table-right {
  width: 50%;
  min-width: 599px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.form-table-right p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  margin-bottom: 5%;
}

.form-table-right-inputs {
  width: 100%;
  min-width: 200px;
  min-height: 300px;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table-right-inputs-nav {
  float: left;
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  width: 120px;
  padding: 3% 1% 1% 1%;
  height: auto;
}

.table-right-inputs-nav li {
  padding: 10px;
  min-width: 90px;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  transition: 0.5s;
}
.table-right-inputs-nav li:first-of-type {
  border-top: 1px solid darkgray;
}
.table-right-inputs-nav li:hover {
  cursor: pointer;
}

.form-table-right-inputs input {
  width: 70%;
  padding: 0.50%;
  margin: 2% 0% 0% 1%;
  outline: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #f0efeb;
  border: 1px solid darkgray;
  text-align: center;
}

.table-right-inputs-con {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}





.form-table-submit {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 25px 0px 25px 0px;
}

.form-table-submit input[type=submit] {
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 1% 2% 1% 2%;
  margin-left: 5%;
  -webkit-transition: 0.5s;
  font-size: 1.0rem;
}

.form-table-submit input[type=submit]:hover {
  cursor: pointer;
  color: green;
  border: 1px solid green;
}

.form-table-submit input[type=button] {
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  transition: 0.5s;
  margin-right: 5%;
  font-size: 1.0rem;
}

.form-table-submit input[type=button]:hover {
  cursor: pointer;
  color: red;
  border: 1px solid red;
}










@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
